@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding: 0;
    border: 0;
}

body{
    font-family: "微软雅黑",serif;
    font-size:14px;
}

h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    margin:0;
}

ul, li{
    list-style: none;
    margin:0;
}
p{
    margin-bottom:0;
}

a{
    color: #333333;
    text-decoration: none;
}

a:hover,a:focus {
    text-decoration: none;
}

.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

/* 头部大图 */
.container{
    width: 1200px;
    margin:0 auto;
}

.header .header_image{
    width:100%;
    display:block;
    min-width:1200px;
}

/*导航样式*/
.nav_menu{
    min-width:1200px;
    background:#b9060a;
    height:60px;
    line-height:60px;
    text-align: center;
}

.nav_menu ul li{
    padding: 0 30px 0 30px;
    width:200px;
    height:60px;
    line-height:60px;
    font-size:20px;
    color:#fff;
    display: inline;
}
.nav_menu ul li a{
    font-family:"微软雅黑",serif;
    font-size:22px;
    color:#fff;
}

/* 友情链接 */
.garden{
    padding:30px 0;
}
.garden1{
    padding-bottom:30px;
    padding-top:0px;
}
.hd1{
    background:#b9060a;
    height:55px;
    line-height:55px;
    padding:0 20px;
    margin-bottom: 15px;
}
.hd1 h3{
    font-size:24px;
    color:#fff;
    float:left;
}


.hd1 a{
    display:block;
    height:55px;
    line-height:55px;
    font-size:14px;
    color:#fff;
    float:right;
}
.link {
    padding:25px 0 10px 0;
}
.link  li{
    float:left;
    width:180px;
    height:72px;
    margin-right:23px;
}

.link  li+li+li+li+li+li{
    margin-right:0;
}

/* 底栏格式 */
.footer{
    min-width:1200px;
    height: 130px;
    background:#b9060a;
    padding:25px 0 5px 0;
    text-align:center;
}

.footer p{
    color:#fff;
    font-size:16px;
    line-height:1.6;
}

/*副标题*/
.subhead{
    margin-top: 100px;
    margin-left: 300px;
}

.subhead span{
    width: 690px;
    height: 54px;
    line-height: 54px;
    padding-left: 50px;
    display: block;
    background-image: url("../image/副标题色框.png");
    background-size: 690px 54px;
    background-repeat: no-repeat;
    font-family:"微软雅黑",serif;
    font-size:22px;
    color:#fff;
}
.subhead .jxnljz{
    padding-left: 30px;
}

/*标题列表*/
.title_list{
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
}

.title_list ul li{
    overflow: hidden;
    line-height: 40px;
    background: url(../image/椭圆-1.png) 1px center no-repeat;
}

.title_list ul li a{
    float: left;
    display: block;
    font-family:"微软雅黑",serif;
    font-size:16px;
    color:#000;
    padding-left: 16px;
    max-width: 750px;
    max-height: 40px;
    text-overflow: hidden;
}
.title_list ul li a:hover{
    color: #ce0202;
}

.title_list ul li span{
    float: right;
    display: block;
    font-family:"微软雅黑",serif;
    font-size:16px;
    color:#000;
}

/*换页上方分割线*/
hr{
    color: #b9060a;
    margin-top: 60px;
}

/*换页*/
.cg-pages{
    margin-top: 60px;
    margin-bottom: 200px;
    text-align: center;
}

.page_n{
    padding: 5px 15px;
    border: 1px solid #898989;
    margin: 0px 3px;
}
.page_n a{
        color: #898989;
}

.page_n_now{
    padding: 5px 15px;
    border: 1px solid #bb2204;
    margin: 0px 3px;
    background: #b9060a;
}
.page_n_now a{
    color: #ffffff;
}

